{% case section.blocks.size %}
    {% when 0 %}
    {% when 1 %}
      {% assign footer_column_width = 'text-center' %}
    {% when 2 %}
      {% assign footer_column_width = 'col-sm-6' %}
    {% when 3 %}
      {% assign footer_column_width = 'col-sm-4' %}
    {% when 4 %}
      {% assign footer_column_width = 'col-sm-3' %}
{% endcase %}

<footer class="site-footer" role="contentinfo" data-section-type="footer" data-section-id="{{ section.id }}" data-section-type="footer">
  <div class="container">
    <div class="row" style="margin-left: 0px;">
      {% for block in section.blocks %}
        {% case block.type %}
      		{% when 'menu' %}
              <div class="{{ footer_column_width }} footer__item footer__item--menu">
                <h4 class="heading">{{ block.settings.title | upcase }}</h4>
                <ul class="footer-list">
                  {% for link in linklists[block.settings.linklist].links %}
                    <li class="footer-list__item">
                      {% if link.title == "LIFETIME WARRANTY" %}
                          <a class="footer-list__link fancy" href="https://docs.google.com/gview?url={{ link.url }}&embedded=true" title="{{ link.title }}">{{ link.title }}</a>
                      {% else %}
                          <a class="footer-list__link" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
                      {% endif %}

                    </li>
                  {% endfor %}
                </ul>
              </div>
      
      		{% when 'social' %}
              <div class="{{ footer_column_width }} footer__item footer__item--social">
                <h4 class="heading">{{ block.settings.title | upcase }}</h4>
                <ul class="social-icons social-icons--inverse">
                  {% if section.settings.social_facebook_link != blank %}
                    <li class="social-icons__item">
                      <a class="social-icons__link" href="{{ section.settings.social_facebook_link }}" title="{{ shop.name }} on Facebook" target="_blank">
                        <i class="fa fa-facebook"></i>
                        <span class="fallback-text">Facebook</span>
                      </a>
                    </li>
                  {% endif %}

                  {% if section.settings.social_twitter_link != blank %}
                    <li class="social-icons__item">
                      <a class="social-icons__link" href="{{ section.settings.social_twitter_link }}" title="{{ shop.name }} on Twitter" target="_blank">
                        <i class="fa fa-twitter"></i>
                        <span class="fallback-text">Twitter</span>
                      </a>
                    </li>
                  {% endif %}

                  {% if section.settings.social_pinterest_link != blank %}
                    <li class="social-icons__item">
                      <a class="social-icons__link" href="{{ section.settings.social_pinterest_link }}" title="{{ shop.name }} on Pinterest" target="_blank">
                        <i class="fa fa-pinterest"></i>
                        <span class="fallback-text">Pinterest</span>
                      </a>
                    </li>
                  {% endif %}

                  {% if section.settings.social_instagram_link != blank %}
                    <li class="social-icons__item">
                      <a class="social-icons__link" href="{{ section.settings.social_instagram_link }}" title="{{ shop.name }} on Instagram" target="_blank">
                        <i class="fa fa-instagram"></i>
                        <span class="fallback-text">Instagram</span>
                      </a>
                    </li>
                  {% endif %}

                  {% if section.settings.social_youtube_link != blank %}
                    <li class="social-icons__item">
                      <a class="social-icons__link" href="{{ section.settings.social_youtube_link }}" title="{{ shop.name }} on Youtube" target="_blank">
                        <i class="fa fa-youtube"></i>
                        <span class="fallback-text">Youtube</span>
                      </a>
                    </li>
                  {% endif %}

                  {% if section.settings.social_tumblr_link != blank %}
                    <li class="social-icons__item">
                      <a class="social-icons__link" href="{{ section.settings.social_tumblr_link }}" title="{{ shop.name }} on Tumblr" target="_blank">
                        <i class="fa fa-tumblr"></i>
                        <span class="fallback-text">Youtube</span>
                      </a>
                    </li>
                  {% endif %}

                </ul>
              </div>
      
      		{% when 'address' %}
              <div class="{{ footer_column_width }} footer__item footer__item--contact {% if settings.footer_show_methods_of_payment %}footer__item--contact-half{% endif %}" {{ block.shopify_attributes }}>
                {% if block.settings.address_text != blank %}
                  <h4 class="heading">{{ block.settings.title | upcase }}</h4>
                  <div>{{ block.settings.address_text }}</div>
                {% endif %}
              </div>
      	{% endcase %}
      {% endfor %}
    </div>
  </div>

  <p class="copyright">
    &copy; {{ 'now' | date: "%Y" }}, {{ shop.name }}. All rights reserved.
    {% if section.settings.copyright_link != blank %}
    	<a class="text-link--default" href="{{ section.settings.copyright_link }}" target="_blank" title="{{ section.settings.copyright_link_text }}">{{ section.settings.copyright_link_text }}</a>
    {% endif %}
  </p>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js"></script>
<script src="https://player.vimeo.com/api/player.js"></script>
<script src="{{ 'bootstrap.min.js' | asset_url }}" defer="defer"></script>


{{ '//cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js' | script_tag }}
{{ 'tinytooltip.min.js' | asset_url | script_tag }}
{{ 'https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js' | script_tag }}
{{ 'shopify_common.js' | shopify_asset_url | script_tag }}
{{ 'api.jquery.js' | shopify_asset_url | script_tag }}
{{ "/services/javascripts/currencies.js" | script_tag }}


<script>
  MoneyFormats = {
    "USD":{
      "money_format":"$\{\{amount\}\}",
      "money_with_currency_format":"$\{\{amount\}\} USD"
    },
    "EUR":{
      "money_format":"&euro;\{\{amount\}\}",
      "money_with_currency_format":"&euro;\{\{amount\}\} EUR"
    },
    "GBP":{
      "money_format":"&pound;\{\{amount\}\}",
      "money_with_currency_format":"&pound;\{\{amount\}\} GBP"
    },
    "CAD":{
      "money_format":"$\{\{amount\}\}",
      "money_with_currency_format":"$\{\{amount\}\} CAD"
    },
    "AUD":{
      "money_format":"$\{\{amount\}\}",
      "money_with_currency_format":"$\{\{amount\}\} AUD"
    },
    "SAR":{
      "money_format":"\{\{amount\}\} SR",
      "money_with_currency_format":"\{\{amount\}\} SAR"
    }
  };
  
  
  initToolTip();  
  function init(){
    videoInit();
  }
  
  function videoInit() {
    /*
	var vidDefer = document.getElementsByTagName('iframe');
	for (var i=0; i<vidDefer.length; i++) {
		if(vidDefer[i].getAttribute('data-src')) {
			vidDefer[i].setAttribute('src',vidDefer[i].getAttribute('data-src'));
		} 
    } 
    */
    
    if (typeof bannerVideoInit !== "undefined") { 
      	setTimeout(bannerVideoInit, 500);
    }
    
    
    if (typeof videoSectionInit !== "undefined") { 
    	setTimeout(videoSectionInit, 5000);
    }
    
    if (typeof gallerySectionInit !== "undefined") { 
        setTimeout(gallerySectionInit, 5000);
    }
    
    /*
    if (typeof productImagesInit !== "undefined") { 
    	productImagesInit();
    }
    */
  }
  
  //window.onload = init;
  
  // The basic check
  /*
  if(document.readyState === 'complete') {
  	init();
  }
  var interval = setInterval(function() {
      if(document.readyState === 'complete') {
          clearInterval(interval);
          init();
      }    
  }, 100);
  */
  
  function updateMoneys(_this){
    var dataid = jQuery(_this).data("id");
    var optionIndex = jQuery(_this).closest('.swatch').attr('data-option-index');
    var optionValue = jQuery(_this).val();
    var optionPrice = jQuery(_this).data('price');
    var comparePrice = jQuery(_this).data('compare-price');

    var selectedCurrency = $("select.js-dropdown-currency").val();
    var money_format = "$\{\{amount\}\}";
    money_format = MoneyFormats[selectedCurrency].money_format;
    
    var price_val = 0;
    if ( optionPrice.startsWith("$") ){
      price_val = optionPrice.substring(1);
    }
    price_val = Currency.convert(price_val * 100.0, 'USD', selectedCurrency);
    optionPrice = Shopify.formatMoney(price_val, money_format );

    price_val = 0;
    if ( comparePrice.startsWith("$") ){
      price_val = comparePrice.substring(1);
    }
    price_val = Currency.convert(price_val * 100.0, 'USD', selectedCurrency);
    comparePrice = Shopify.formatMoney(price_val, money_format );


    jQuery(".product__compare-price").html(comparePrice);
    jQuery(".product__current-price").html(optionPrice);

    jQuery('.product-select').val(dataid).change();

    $('#stickyswatch-0-' + optionValue.toLowerCase().replace('.','-') ).prop('checked', true);
    $('#swatch-0-' + optionValue.toLowerCase().replace('.','-') ).prop('checked', true);

    $('.skillet-title').text(optionValue);
    var size = optionValue.replace('-Inch', '');
    $('.product-title').html(size+"&#8221;<br/>Skillet");
    $('.nav-cart-left-section p').html(optionValue.replace('-Inch', '&#8221;')+" Skillet");


    jQuery('.ul-change').hide();
    jQuery('#ul-'+dataid).show();
    jQuery('.ui2-change').addClass("hidden");
    jQuery('#ui2-'+dataid).removeClass("hidden");
  }
  
  var isLoadingOrderInfo = false;
  
  jQuery(document).ready(function($) {
    init();
    
    if ( $(".hulkapps-volumes").length > 0 ){
      
    }
    
    $("#return-request #btn_enter").click(function(){      
      	if ( isLoadingOrderInfo ){
        	return;
      	}
      
        var email = $("#return-request #email").val().trim();
      	if ( email.length == 0 ){
        	return;
      	}

      
      	isLoadingOrderInfo = true;
      	$("#return-request #span_days_since_purchase").html("");
      	$("#return-request #span_purchase_date").html("");
      
    	$("#return-request #btn_enter").val("LOADING...");
		var xhttp = new XMLHttpRequest();
    	xhttp.onreadystatechange = function() {
          
           	if (this.readyState == 4 && this.status == 200) {
                isLoadingOrderInfo = false;
                $("#return-request #btn_enter").val("ENTER");
              
                var result = this.responseText;
                var error = "";
                try{
                  var json = JSON.parse(result);
                  if ( json['result'] == "SUCCESS" )
                  {
                  	$("#return-request .input_wrapper").addClass("hidden");
                    $("#return-request .result_wrapper").removeClass("hidden");
                    $("#return-request #btn_enter").addClass("hidden");
                    
                      
                    var date = json['data'];              
                    var oldDate = new Date(date);
                    var todayDate = new Date();
                    var diff = todayDate - oldDate;
                    var diffDays = Math.ceil(diff/1000/60/60/24);
                    
                    var formmattedDate = ("0" + (oldDate.getMonth()+1)).slice(-2)  + "/" + ("0" + oldDate.getDate()).slice(-2) + "/" + oldDate.getFullYear();
                    $("#return-request #span_purchase_date").html(formmattedDate);
                    $("#return-request #span_days_since_purchase").html(diffDays + " Days");
                    
                    if ( diffDays >= 90 ){
                      	$("#return-request #btn_lifetime").removeClass("hidden");  
                    }
                    else{
                    	$("#return-request #btn_return").removeClass("hidden");  
                    }
                    
                  }else{
                    error = json['error'];
                  }
                }
              	catch(err){
                  error = err;
              	}
                
                console.log("err=", error); 
            }
          
      };
	    xhttp.onerror = function () {
        	isLoadingOrderInfo = false;
          	$("#return-request #btn_enter").val("ENTER");
        };
        xhttp.open("GET", "https://radshopify.herokuapp.com/get_order_date.php?method=get_last_ordered_date&email=" + email,true);
        xhttp.send();      
    });
    
    
    
    $(".homepage-nav-bar .hamburger").click(function(e){
      if ( $(this).hasClass("is-active") ){
        $(".homepage-nav-bar ul.navbar-nav li.menu-item").removeClass("invisible");
        $(".homepage-nav-bar ul.navbar-nav li.menu-item").removeClass("visible");
        
        $(".homepage-nav-bar ul.navbar-nav li.menu-item").addClass("invisible");
      }
      else{
        $(".homepage-nav-bar ul.navbar-nav li.menu-item").removeClass("invisible");
        $(".homepage-nav-bar ul.navbar-nav li.menu-item").removeClass("visible");
        
        $(".homepage-nav-bar ul.navbar-nav li.menu-item").addClass("visible");
        
      }
      $(this).toggleClass("is-active");
    });
    
    $(window).scroll(function(){
      if ($(window).scrollTop() >= 1800) {
        $('#my-cart-navbar').css('display', 'flex');
      }
      else {
        $('#my-cart-navbar').css('display', 'none');
      }
    });
    
    // currencies
    initCurrencyDropDown();
    
    $("select.js-dropdown-currency").change(function(){
      var _this = $('#AddToCartForm .swatch input[type="radio"]:checked');
      if ( _this ) {
      	updateMoneys( _this );
      }
    });
    
    
    $("#panlyer-tgl").on('click', function(e) {
      event.preventDefault();
      $("#panlyer_img").slideToggle();
      $('body, html').scrollTop($("#panlyer_img").offset().top - 85);
    });
    
    $(".panlyer_close_btn").on('click', function(){
      $("#panlyer_img").fadeOut();
    });
    
    $('#features-slider').owlCarousel({
		items:1,
		merge:true,
		loop:true,
        video:false,
		margin:15,
        nav: true,
		lazyLoad:true,
		center:true,
		stagePadding: 40,
        dots: true,
	});
    
    // product section
    
    jQuery('#productCarousel').carousel({
      autoplay: false,
      dots: true,
      autoplayHoverPause: false
    });
    
    jQuery('#productCarousel').bind('slid.bs.carousel', function (e) {
      var id = $("#productCarousel .carousel-inner .item.active").attr("data-slide-number");
      $("ul.thumbnails a.thumbnail").removeClass("active");
      $("#carousel-selector-" + id).addClass("active");
    });
    
    
    $('[id^=carousel-selector-]').click( function(){
      var id_selector = $(this).attr("id");
      var id = id_selector.substr(id_selector.length -1);
      var id = parseInt(id);
      $('ul.thumbnails a.thumbnail').removeClass('active');
      $(this).addClass('active');
      jQuery('#productCarousel').carousel(id);
    });
    
    
    
    $('.addtocartform .swatch :radio').change(function() {
		updateMoneys(this);
      
      	/*
      	$('#AddToCart').removeClass("hidden");
      	$("#stickyAddToCart").removeClass("invisible");
        */
      	
      	$('#AddToCart').prop('disabled', false);
        $('#stickyAddToCart').prop('disabled', false);
      
      	$(".label-select-size").addClass("hidden");
    });
    
    $('#productSelect').change(function(){
      var value = $(this).val();
      
      if ( value == "0" ){
        $('#stickyProductSelect').val(0);
        
        /*
        $('#AddToCart').addClass("hidden");
      	$("#stickyAddToCart").addClass("invisible");
        */
        
        $('#AddToCart').prop('disabled', true);
        $('#stickyAddToCart').prop('disabled', true);
        
        jQuery(".product__compare-price").html("");
    	jQuery(".product__current-price").html("");
        $('.nav-cart-left-section p').html("Radical Pan");
        $('.addtocartform .swatch :radio').prop('checked', false);
        
      }
      else{
        var object = $("#AddToCartForm input[data-id='" + value + "']").first();
        object.trigger("click");
      }
      
      /*
      
  	  window.KlarnaOnsiteService = window.KlarnaOnsiteService || [];
  	  window.KlarnaOnsiteService.push({ eventName: 'refresh-placements' });
      */

    });
    
    
    $('#stickyProductSelect').change(function(){
      var opttion = $(this).find("option:selected");
      if ( opttion.val() == "0" ){
        $('#productSelect').val(0);
        
        /*
        $('#AddToCart').addClass("hidden");
      	$("#stickyAddToCart").addClass("invisible");
        */
        
        $('#AddToCart').prop('disabled', true);
        $('#stickyAddToCart').prop('disabled', true);
        
        jQuery(".product__compare-price").html("");
    	jQuery(".product__current-price").html("");
        $('.nav-cart-left-section p').html("Radical Pan");
        $('.addtocartform .swatch :radio').prop('checked', false);
        
      }
      else{
        var value = opttion.text();

        var object = $("#AddToCartForm .swatch-element[data-value='" + value + "'] input").first();
        object.trigger("click");
      }
    });
    
    
    $("#productCarousel").swipe({	
      swipe: function(event, direction, distance, duration, fingerCount, fingerData) {
        if (direction == 'left') 
          jQuery('#productCarousel').carousel('next');
        if (direction == 'right') 
          jQuery('#productCarousel').carousel('prev');

      },
      allowPageScroll:"vertical"
    });
    
    
    
    $(".wranty-badge").fancybox({
      type: 'iframe',
    });
    
    
    $("#skillet-slider").owlCarousel({
        dots: true,
        dotsEach: true,         
		merge:false,
		responsive:{
          0:{
            items:1,
            stagePadding: 40,
            margin:22,
            loop:false,
            center:true,
            lazyLoad:true,
          },
          480:{
            items:1,
            stagePadding: 40,
            margin:22,
            loop:false,
            center:true,
            lazyLoad:true,
          },
		}
	});
    
    $("#about_health-slider").owlCarousel({
		merge:true,
		responsive:{
          0:{
            items:1,
            stagePadding: 40,
            margin:22,
            loop:true,
            center:true,
            lazyLoad:true,
          },
          767:{
            items:4,
            margin:15,
            loop:false,
          },
          1200:{
            items: 5,
            margin: 15, 
            loop: false,
          }
		}
	});
    
    $(".health-button").fancybox({
    });
    
    
    // testimonial section
    $('#testimonial-carousel').owlCarousel({
		loop:true,
		center:false,
		margin:20,
		nav:true,
		dots: true,
        dotsEach: true,
        lazyLoad: true,
        lazyLoadEager: 20,
      	navText:["<span class='nav-btn prev-slide'><img src='{{ 'thin-left-arrow.png' | asset_url }}'></span>","<span class='nav-btn next-slide'><img src='{{ 'thin-right-arrow.png' | asset_url }}'></span>"],
		responsive:{
          300:{items:1},
          360:{items:1, stagePadding: 40},
          420: {items:2},
          768:{items:3, stagePadding: 40},
          1100:{items:4},
          1280:{items:4}
		}
	});
    
                 
    $(".all-reviews").on('click', function(e){
        e.preventDefault(); 
		var t_p = $(".tab-content").offset().top;
        $('body, html').scrollTop(t_p);
		$("#section-blog .nav li.active").removeClass('active');
		$(".all-review-content").parent('li').addClass('active');
		$(".tab-pane.active").removeClass('in active');
		$("#menu2").addClass('in active');
	});
                 
    // gallery section
    $('#gallery-carousel').owlCarousel({
		loop:true,
		margin:20,
		nav:true,
		dots:true,
      	dotsEach: true,
		autoplay:false,
		autoplayTimeout:5000,
		responsive:{
				360:{
						items:2
				},
				768:{
						items:3
				},
				1100:{
						items:4
				}
		}
	});
  
	var galleryCarousel = $('#gallery-carousel');
	$('.section-g .owl-next').click(function() {
		galleryCarousel.trigger('next.owl.carousel');
	});
	$('.section-g .owl-prev').click(function() {
		galleryCarousel.trigger('prev.owl.carousel');
	});
                 
    
    $('#blog-carousel').owlCarousel({
		loop:true,
		margin:20,
		nav:true,
		dots:true,
      	dotsEach: true,
		autoplay:false,
		autoplayTimeout:5000,
      
      	responsive:{
          360:{
            items:1
          }
		}
      
	});
                 
                 
    // shipping section
    $(".url-ship-section.fancy").fancybox({
      type: 'iframe',
    });
                 
	$('#ship-carousel').owlCarousel({
		loop:true,
		margin:20,
		nav:true,
		dots:true,
      	dotsEach: true,
		autoplay:false,
		autoplayTimeout:5000,
		responsive:{
          360:{
            items:1
          }
		}
    });
                 
    // instagram section
    $('#instagram-carousel').owlCarousel({
        loop:true,
        margin:0,
        nav:false,
        dots:false,
        autoplay:true,
        autoplayTimeout:5000,
        responsive:{
            360:{
                items:2
            },
            768:{
                items:3
            },
            1100:{
                items:4
            }
        }
    });
                 
    // footer
    $(".footer-list__link.fancy").fancybox({
      type: 'iframe',
    });
    
    $(".lifetimebtn_wrapper").fancybox({
      type: 'iframe',
    });
  });
  
  
  function initToolTip(){
    $("[data-toggle=popover_vimeo]").each(function(i, obj) {
      var href = $(this).data('href');
      var placement = $(this).data('placement');
            
      $(this).tinytooltip({
        placement: placement,
        html: true,
        maxwidth: 450,
        trigger: 'hoverable',
        title: '<div class="video-wrapper"><iframe src="https://player.vimeo.com/video/'+ href +'?autoplay=1&loop=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>'
      });
    });
  }
                 
  function initCurrencyDropDown(){
                 
    jQuery('.drop-down').each(function() {
      
      jQuery(this).append('<div class="button"></div>');    
      jQuery(this).append('<ul class="select-list"></ul>');

      var parent = this;
      jQuery(this).find('select option').each(function() {
          var bg = jQuery(this).css('background-image');  
          jQuery(parent).find('.select-list').append('<li class="clsAnchor"><span value="' + jQuery(this).val() + '" class="' + jQuery(this).attr('class') + '" style=background-image:' + bg + '>' + jQuery(this).text() + '</span></li>');
      });   

      //jQuery(this).find('.button').html('<span style=background-image:' + jQuery(this).find('select').find(':selected').css('background-image') + '>' + jQuery(this).find('select').find(':selected').text() + '</span>' + '<a href="javascript:void(0);" class="select-list-link"><i class="fa fa-angle-down"></i></a>');
      jQuery(this).find('.button').html('<span style=background-image:' + jQuery(this).find('select').find(':selected').css('background-image') + '>' + '</span>' + '<a href="javascript:void(0);" class="select-list-link"><i class="fa fa-angle-down"></i></a>');                 
      jQuery(this).find('ul li').each(function() {   
        if (jQuery(this).find('span').text() == jQuery(parent).find('select').find(':selected').text()) {  
           jQuery(this).addClass('active');       
        }
      });
    });
                 
    jQuery('.drop-down .select-list span').on('click', function(){          
		var dd_text = jQuery(this).text();  
		var dd_img = jQuery(this).css('background-image'); 
		var dd_val = jQuery(this).attr('value');   
		//jQuery('.drop-down .button').html('<span style=background-image:' + dd_img + '>' + dd_text + '</span>' + '<a href="javascript:void(0);" class="select-list-link"><i class="fa fa-angle-down"></i></a>');      
        jQuery('.drop-down .button').html('<span style=background-image:' + dd_img + '>' + '</span>' + '<a href="javascript:void(0);" class="select-list-link"><i class="fa fa-angle-down"></i></a>');      
		jQuery('.drop-down .select-list span').parent().removeClass('active');    
		jQuery(this).parent().addClass('active');     
		$('.drop-down select[name=currencies]').val( dd_val ); 
		$('.drop-down .select-list li').slideUp();
                 
        var _this = $('#AddToCartForm .swatch input[type="radio"]:checked');
      	if ( _this ) {
      		updateMoneys( _this );
      	}
    });       

    jQuery('.drop-down').on('click','.button', function(){      
		jQuery('.drop-down ul li').slideToggle();  
    });  

    /*
    jQuery('.drop-down .button').on('click','a.select-list-link', function(){      
		jQuery('.drop-down ul li').slideToggle();  
    });     
    */
  }
  
  
</script>
{% schema %}
{
  "name": {
    "en": "Footer"
  },
  "settings": [
	  {
        "type": "text",
        "id": "social_facebook_link",
        "label": "Facebook link"
      },
	  {
        "type": "text",
        "id": "social_twitter_link",
        "label": "Twitter link"
      },
	  {
        "type": "text",
        "id": "social_pinterest_link",
        "label": "Pinterest link"
      },
	  {
        "type": "text",
        "id": "social_instagram_link",
        "label": "Instagram link"
      },
      {
        "type": "text",
        "id": "social_youtube_link",
        "label": "Youtube link"
      },
      {
        "type": "text",
        "id": "social_tumblr_link",
        "label": "Tumblr link"
      },
	  {
        "type": "text",
        "id": "copyright_link",
        "label": "Copyright link"
      },
	  {
        "type": "text",
        "id": "copyright_link_text",
        "label": "Copyright link text"
      }
  ],
  "blocks": [
      {
        "type": "address",
        "name": "Contact Information",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Contact info"
          },
          {
            "type": "textarea",
            "id": "address_text",
            "label": "Contact info text",
            "default": "<ul><li><i class='fa fa-envelope'><\/i><a href='mailto:contact@foodly.com'>contact@foodly.com<\/a><\/li><li><i class='fa fa-mobile'><\/i>912-823-5448<\/li><li><i class='fa fa-map-marker'><\/i>Foodly Inc Suite<br>109 273 – 3000 High Way<br>Whistler, BC, V0N 2B5 <\/li><\/ul>",
            "info": "Use basic HTML to format text"
          }
        ]
      },
      {
        "type": "latest_blog",
        "name": "Show latest blog post",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Latest post"
          },
          {
            "type": "blog",
            "id": "blog",
            "label": "Choose blog"
          }
        ]
      },
      {
        "type": "menu",
        "name": "Menu",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Footer Menu"
          },
          {
            "type": "link_list",
            "id": "linklist",
            "label": "Choose menu"
          }
        ]
      },
      {
        "type": "social",
        "name": "Social Links",
		"limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Follow Us"
          }
        ]
      },
	  {
        "type": "payment_methods",
        "name": "Payment methods",
		"limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Payment methods"
          }
        ]
      }
  ]
}
{% endschema %}
