{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign current_variant_sale = false -%}
{% if current_variant.compare_at_price > current_variant.price %}
  {%- assign current_variant_sale = true -%}
{% endif %}

<section id="section-product" style="padding-bottom: 50px;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 main-product_image_wrapper">     
        
        
        
        <div class="col-md-12 carousel slide desktop" id="productCarousel" data-interval="false">
          <div class="carousel-inner">
            {%for image in product.images%}
            <div class="{%if forloop.first%}active {%endif%}item" data-slide-number="{{forloop.index0}}">
              <img data-src="{{image | img_url: 'master' }}" class="img-responsive lazyload" data-imagezoom="true">
            </div>
            {%endfor%}
          </div>					
        </div>
        
        <div class="col-md-12 product-image-thumbnail desktop">
          <div class="main-carousel-wrapper">
            <a class="carousel-control left" data-slide="prev" href="#productCarousel">‹</a> 
            <a class="carousel-control right" data-slide="next" href="#productCarousel">›</a>
          </div>

          <ul class="thumbnails">
            {%for image in product.images%}
            <li class="span2">
              <a class="thumbnail {%if forloop.first%} active {%endif%}" id="carousel-selector-{{forloop.index0}}">
                <img data-src="{{image | img_url: '93x'}}" class="img-responsive lazyload">
              </a>
            </li>
            {% endfor %}
            <li class="span2 watch-video"><a data-fancybox="gallery" href="{{product.type}}" class="thumbnail play-btn clr-black" data-width="640" data-height="360" id="product-video-fancybox"><img src="{{ 'play-button-product.png' | asset_url }}" class="lazyload"></a></li>
            <li class="span2 watch-video"><a data-fancybox="gallery" href="https://vimeo.com/340917285" class="thumbnail play-btn clr-black" data-width="640" data-height="360" id="product-lifestyle-video-fancybox"><img src="{{ 'play-button-lifestyle.png' | asset_url }}" class="lazyload"></a></li>
          </ul>
        </div>
      </div>


      <div class="col-md-4">
        <div class="product-details">
          <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
          <meta itemprop="image" content="{{ product.featured_image.src | product_img_url: 'grande' }}">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}">
          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
          {% assign producttitle = product.title | replace_first: ' ', '<br>' %}
          <h1 itemprop="name" class="product-title">{{ producttitle }}</h1>
          
          <div class="list-inline star">
            <a href="#" class="show-review" style="text-decoration:none;">
              {% include 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false %}
            </a>
            <script>
              $(".show-review").on('click', function(e){								
                e.preventDefault(); 
                var t_p = $(".tab-content").offset().top;
                $('body, html').scrollTop(t_p);
                $("#section-blog .nav li.active").removeClass('active');
                $(".all-review-content").parent('li').addClass('active');
                $(".tab-pane.active").removeClass('in active');
                $("#menu2").addClass('in active');

              })
            </script>
          </div>
                    
          <span class="product__compare-price" {%if product.selected_or_first_available_variant.compare_at_price != blank or product.selected_or_first_available_variant.compare_at_price > 0%} style="display:inline-block;" {%endif%}>
            {% comment %}
            {% for variant in product.variants %}
            	{% if variant == product.selected_or_first_available_variant %}
            		{{ variant.compare_at_price | money }}
            	{% endif %}
            {% endfor %}
            {% endcomment %}
          </span>
          
          <span class="product__current-price">
            {% comment %}
            {% for variant in product.variants %}
            	{% if variant == product.selected_or_first_available_variant %}
            		{{ variant.price | money }}
            	{% endif %}
            {% endfor %}
            {% endcomment %}
          </span>

          
          <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="addtocartform">      
            <select name="id" id="productSelect" class="product-select">
              <option value="0" selected="selected">Please select size</option>
              {% for variant in product.variants %}
              {% if variant.available %}
              <option data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
              {% else %}
              <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
              {% endif %}
              {% endfor %}
            </select>

            <div class="hidden">
            {% if product.available and product.variants.size > 1 %}{% for option in product.options %}{% include 'swatch' with option, p_id: '', current_variant: product.selected_or_first_available_variant %}{% endfor %}{% endif %}
            </div>


            <ul class="list-inline button-container">
              <li class="hidden">
                <div class="extra qty-group q-btn">
                  <a href="javascript:void(0)" class="dec button"><i class="fa fa-minus" aria-hidden="true"></i></a>
                  <input type="text" id="quantity" class="number" name="quantity" value="1">
                  <a href="javascript:void(0)" class="inc button"><i class="fa fa-plus" aria-hidden="true"></i></a>
                </div>
              </li>
              <li>
                
                {% if section.settings.show_custom_button %}
                  <a href="{{ section.settings.custom_button_url }}" class="btn custom-btn">Buy Now</a>
                {% endif %}
                                
                <klarna-placement data-id="3e4c698e-10b4-444d-9ce0-c015011387f0" data-purchase_amount="8999" data-preloaded="true" style="display: inline-block; position: relative; overflow: hidden; width: 100%; height: 100%; max-width: 350px; max-height: 70px;">
                </klarna-placement>
                
                
                
                {% comment %} Added by Randy @ Shopify Theme Support on December 31 2019 {% endcomment %}
                {% if section.settings.show_atc %}
                  <button type="submit" name="add" id="AddToCart" disabled class="{%if section.settings.order_button_effect == true %}button-glow{% endif %}  addtocart">{{section.settings.order_button}}</button>
                {% endif %}
                
                
                
               	<a class="btn_amazon" href="https://www.amazon.com/Radical-Pan-Non-Stick-Certified-Dishwasher/dp/B07RV4ZN6M/ref=sr_1_2?keywords=radical+pan&qid=1578069248&sr=8-2">
                  <img src="{{'Amazon-Prime-Logo.png'|asset_url}}">
                </a>
                
                <span class="wranty-badge-wrapper">
                  <a href="https://docs.google.com/gview?url={{section.settings.lifetime_warranty_url}}&embedded=true" class="wranty-badge">
                    <b>LIFETIME</b> WARRANTY
                  </a>
                </span>
                
                
              </li>
            </ul>
          </form>
          
          <div class="hulkapps-volumes"></div>
          
        </div>
      </div>
    </div>

   
    
    <div class="row text-center">
      <span>
        <a href="/" class="learn-more">
          <b>Learn More</b>
        </a>
      </span>
    </div>
  </div>
</section>



<script src="//code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
<script type='text/javascript' src="{{ 'imagezoom.js' | asset_url }}"></script>



<script>
  var hulkappVolumesAdded = false;
  var hulkTimer;
  jQuery(document).ready(function($) {       
    $("#productSelect").val("0");
    hulkTimer = setInterval(checkHulkAppVolumes, 1000);
  });
  
  function checkHulkAppVolumes(){
    if ( $(".hulkapps-volumes .hulkapps-table thead").length > 0 ){
      clearInterval(hulkTimer);
      
      $(".hulkapps-volumes .hulkapps-table thead tr").append($("<th>Code</th>"));
      $(".hulkapps-volumes .hulkapps-table tbody tr:nth-child(1)").append( $("<td>\"20OFF\"</td>") );
      $(".hulkapps-volumes .hulkapps-table tbody tr:nth-child(2)").append( $("<td>\"30OFF\"</td>") );
    }
  }
  
  
</script>



<script>
  window.KlarnaThemeGlobals={};
  window.KlarnaThemeGlobals.data_purchase_amount={{product.first_available_variant.price}};
  window.KlarnaThemeGlobals.productVariants={{product.variants|json}};
  window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);
  
  window.KlarnaOnsiteService = window.KlarnaOnsiteService || [];
  window.KlarnaOnsiteService.push({ eventName: 'refresh-placements' });
</script>



{% stylesheet %}
@-webkit-keyframes glowing2 {
  0% { -webkit-box-shadow: 0 0 -10px #8A2433; }
  40% { -webkit-box-shadow: 0 0 20px #8A2433; }
  60% { -webkit-box-shadow: 0 0 20px #8A2433; }
  100% { -webkit-box-shadow: 0 0 -10px #8A2433; }
}

@-moz-keyframes glowing2 {
  0% { -webkit-box-shadow: 0 0 -10px #8A2433; }
  40% { -webkit-box-shadow: 0 0 20px #8A2433; }
  60% { -webkit-box-shadow: 0 0 20px #8A2433; }
  100% { -webkit-box-shadow: 0 0 -10px #8A2433; }
}

@-o-keyframes glowing2 {
  0% { -webkit-box-shadow: 0 0 -10px #8A2433; }
  40% { -webkit-box-shadow: 0 0 20px #8A2433; }
  60% { -webkit-box-shadow: 0 0 20px #8A2433; }
  100% { -webkit-box-shadow: 0 0 -10px #8A2433; }
}

@keyframes glowing2 {
  0% { box-shadow: 0 0 -10px #8A2433; }
  40% { box-shadow: 0 0 20px #8A2433; }
  60% { box-shadow: 0 0 20px #8A2433; }
  100% { box-shadow: 0 0 -10px #8A2433; }
}


.button-glow {
	animation: glowing2 1500ms infinite;
}

#skillet-slider .owl-dots{
	text-align: center;
	margin-top: 0px;
}

#skillet-slider .owl-dots .owl-dot{
    padding: 0px 5px !important;
}
  
#skillet-slider .owl-dots .owl-dot span{
    background: #ddd;
    width: 14px;
    height: 14px;
    display: inline-block;
    border-radius: 50%;
}

#skillet-slider .owl-dots .owl-dot.active span{
    background: #8A2433;
    border:1px solid #337ab7;
}
  
  
  
#skillet-slider .health-box{
    margin-top: 20px;
}
  
#skillet-slider .health-box .health-box-inner p{
    padding-top: 0px;
}
  
#skillet-slider .health-box .health-box-body{
    padding: 0px 90px;    
}

@media only screen and (max-width: 600px){
	#skillet-slider .health-box .health-box-body{
    	padding: 0px 30px;    
  	}
}
  
@media only screen and (max-width: 600px){
    #skillet-slider .health-box .health-box-body{
    	padding: 0px 0px;    
  	}
}
  
@media only screen and (max-width: 420px){
  	#skillet-slider .health-box{
    	height: 200px;
  	}
}
{% endstylesheet %}

{% schema %}
{
  "name": {
    "en": "Product pages"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_custom_button",
      "label": "Show custom button",
      "default": false
    },
    {
      "type": "url",
      "id": "custom_button_url",
      "label": "Custom Button Url"
    },
    {
      "type": "checkbox",
      "id": "show_atc",
      "label": "Show add to cart button",
      "default": true
    },
   	{
    	"type": "text",
    	"id": "order_button",
        "label": "Order button text"
    },
    {
    	"type": "checkbox",
    	"id": "order_button_effect",
    	"label": "Order Button Effect"
    },
    {
    	"type": "url",
    	"id": "lifetime_warranty_url",
    	"label": "Lifetime Warranty Url"
    }
    
  ]
}
{% endschema %}
